/* centratura =960px */
/* 1 header
1 nav
3 section
1 footer */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    max-width: 1356px;
    height: auto;
    background-color: rgb(40, 37, 37);
    margin: 0 auto;
}

.bkg{
    position: relative;
    max-width: 1356px;
    height: 505px; ;
    background-image: url(./img/jumbo.png);
    background-size: cover;
}
.debug{
    border: black ;
}

.clearfix:after {
    content:"" ;
    display: block;
    clear: both;


}

.container{
    max-width: 960px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a{
    text-transform: capitalize;

    color: white;
}
/* NAV BAR */


.nav_bar a{
    margin: 0 auto;
    text-align: center;
   max-height: 40px;
    
    

}
.nav_bar ul li{
    padding: 10px;   
    text-align: center;
    display: inline;
    line-height: 20px;
    
}
.nav_bar div{
    display: inline-block;


}
.nav_bar{
    left:0;
    right:0;
    margin: 0 auto;
    z-index: 9999;
    top: 0px;
    color: white;
    position: fixed;
    background-color:rgba(30, 104, 241, 0.3);
    
}

#logo{
    padding-top: 10px;
    width: 90px;
    height: auto;
}
 .col-3{
     max-width: 23%;
 }
 .col-6{
     top: 10px;
     position: absolute;
     text-align: center;
     margin: 0 auto;
     width:80%;
 }
.nav_bar .iscrizione{
    background-color: lightgray;
}
footer .iscrizione{
  background-color: rgb(164, 147, 225);
   
}
.iscrizione{
    position: absolute;
    right: 0px;
    top: 10px;
    border-radius: 20px;
    padding:5px 15px;
    height: 27px;
}

/* HEADER */

header .testo{
    margin: 0 auto;
    max-width: 60%;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top:80px;
}

p{
    font-size: 17px;
    padding-top:60px;

}

.link{
    padding-top: 30px;
    max-width:48%;
    margin: 0 auto;

}
.link-big {
    max-width: auto;
    padding:10px 15px;
    display:inline-block;
    border-radius: 100px;
    margin:10px;

}

.link-white{

    background-color: white;
}

.link-black{
    
    background-color: rgb(43, 40, 40);
}

.link a{
    text-decoration: none;
}
.link-white a{
    color:rgb(60, 56, 56)
}
.link-black a{
    color: white;
}


/* MAIN  */ 
/* 3 SECTION X 2 DIV */


}
section div{
    max-width: 100%;
    display:inline-block;
}

.col-8 img{
    max-width: 100%;
    height: auto;
    z-index: 1000;
}
.col-8{
max-width: 60%;
float: left;
}
.sec-2 .col-8{
    float: right;
}
.sec-2 .col-4{
    float: right;
}

.col-4{
    float: left;
    max-width: 32%;
    height: auto;
    padding-top: 33px;
    padding-left: 40px;
}

.sec-1, .sec-2, .sec-3 {
padding-top: 200px;
}

.bkg-main{
max-width: 100%;
height: auto;
background-color: white;
}

.col-4 p{
padding-top:10px;
font-size: 17px;
color: rgb(43, 40, 40);
}

.col-4,.sec-4 h1{
    font-size: 30px;
    color: rgb(43, 40, 40);
}

.sec-4{
    text-align:center;
    
}
.img-big {
    padding-top:50px;
    margin: 0 auto;
max-width: 890px;
height: auto;
}
.img-big img{
    max-width: 100%;
height: auto;}
.sec-4 h1{
    padding-top: 200px;
    font-size: 45px;
}
.testo-2 p{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    max-width: 80%;
}

.sec-4 h2{
    text-align: center;
    margin: 0 auto;
    background-image: url(./img/stars.svg);
    background-size: cover;
    padding: 5px 14px;
    background-position-y: -132px;
    width: 100%;
}
.bkg-small{
    width: 47%;
    margin: 0 auto;
}


.sec-4 .link-big a{
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
   padding:5px 15px;
    background-color: rgb(164, 147, 225);
    border-radius: 50px;
}

.sec-4 .link-big {
    display: block;
    padding-bottom: 65px;
}

/* FOOTER */


.bkg-footer {
    max-width: 1356px;
    height: 600px;
    background-color: rgb(62, 62, 62);

}

.contatti{
    padding-top: 40px;
    max-width:960px;
    margin: 0 auto;
}
footer img{
    width: 15px;
    height: auto;
    line-height: 32px;
}
footer h2{
    color: rgb(164, 147, 225);
    padding-bottom: 20px;
}
.col-2{
    padding:65px;
    padding-left:15px;
    width: 35%;
float: left;
}

.col-1{
    padding:65px 0px 65px 0px;
    margin: 0 auto;
    float: left;
    height: auto;
    width:16%;
    background-color: rgb(62, 62, 62);
}
.col-1 li{
    padding-bottom: 5px;
}

.purple{
    color: rgb(164, 147, 225);
}
.contact-list{
    width: 100%;
    height: auto;
}
.lang select{
    background-color: rgb(62, 62, 62);

    border: none;
}
.lang{
    padding: 0;
height: 20px;}
.lang option{
    padding: 0;

    line-height: 20px;
    font-size: 7px;
    
}

.col-2 i{
    color:white;
    padding:15px 5px;
}

.credits{
    position: relative;
    width: 100%;
    float: left;
}