/* centratura =960px */
/* 1 header
1 nav
3 section
1 footer */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 1356px;
    height: 20000px;
    background-color: rgb(40, 37, 37);
    margin: 0 auto;
}

.bkg{
    position: relative;
    width: 1356px;
    height: 505px; ;
    background-image: url(./img/jumbo.png);
    background-size: cover;
}
.debug{
    border: solid 1px black;
}

.clearfix:after {
    content:"" ;
    display: block;
    clear: both;


}

.container{
    width: 960px;
    margin: 0 auto;
}

/* NAV BAR */


.nav_bar a{
    text-transform: capitalize;
    height: 40px;
    color: white;
    

}
.nav_bar ul li{
    padding: 10px;   
    text-align: center;
    display: inline;
    list-style: none;
    line-height: 20px;
    text-decoration-color: white;
}
.nav_bar div{
    display: inline-block;


}
.nav_bar{
    left:0;
    right:0;
    margin: 0 auto;
    z-index: 9999;
    top: 0px;
    color: white;
    position: fixed;
    
}

#logo{
    padding-top: 10px;
    width: 90px;
    height: auto;
}
 .col-3{
     width: 23%;
 }
 .col-6{
     top: 10px;
     position: absolute;
     text-align: center;
     margin: 0 auto;
     width:50%;
 }
.nav_bar .col-3 a{
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px;
    height: 27px;
}
    


/* HEADER */

header .testo{
    margin: 0 auto;
    width: 60%;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top:80px;
}

p{
    font-size: 17px;
    padding-top:60px;

}

.link{
    padding-top: 30px;
    width:44%;
    margin: 0 auto;

}
.link-big {
    width: auto;
    padding:10px 20px;
    display:inline-block;
    border-radius: 100px;
    margin:10px;

}

.link-white{

    background-color: white;
}

.link-black{
    
    background-color: rgb(43, 40, 40);
}

.link a{
    text-decoration: none;
}
.link-white a{
    color:rgb(60, 56, 56)
}
.link-black a{
    color: white;
}


/* MAIN  */ 
/* 3 SECTION X 2 DIV */

.sec-1:after{
    content: "";
    display: block;
    clear: both;
}
.sec-2:after{
    content: "";
    display: block;
    clear: both;
}
.sec-3:after{
    content: "";
    display: block;
    clear: both;
}
section div{
    width: 100%;
    display:inline-block;
}

.col-8 img{
    width: 100%;
    height: auto;
    z-index: 1000;
}
.col-8{
width: 60%;
float: left;
}
.sec-2 .col-8{
    float: right;
}
.sec-2 .col-4{
    float: right;
}

.col-4{
    float: left;
    width: 32%;
    height: auto;
    padding-top: 33px;
    padding-left: 40px;
}

.sec-1, .sec-2, .sec-3 {
padding-top: 200px;
}

.bkg-main{
width: 100%;
height: auto;
background-color: white;
}

.col-4 p{
padding-top:10px;
font-size: 17px;
color: rgb(43, 40, 40);
}

.col-4 h1{
    font-size: 37px;
    color: rgb(43, 40, 40);
}


